extends ./partials/layout

block title
    title Blogger Pro

block header
    h1 Blogger Pro homepage

block breadcrumbs
    li.active
        a(href="/") Home

block content
    h2 Welcome to Blogger Pro

    p.
        This is the most amazing blogging application in the world. You will love the complete
        lack of any professional features, and the limited abilities will prove frustrating.
        You are now a customer and have no choice!

    p Thank you for joining us...